.catalog__title-link {
  @include link;
  @include font-style(32px, 36px, 700);

  letter-spacing: 0.01em;
  color: $color-text;
  margin-bottom: 72px;


  & sup {
    @include font-style(18px, 20px, 700);

    letter-spacing: 0.01em;
    opacity: 0.2;
  }

  & span {
    display: none;
  }
}

.catalog__title {
    @include font-style(36px, 32px, 700);
}

.catalog__item {
  margin-bottom: 80px;
  display: none;
}

.catalog__list {
  @include list;
  @for $i from 1 through 2 {
    .catalog__item:nth-child(#{$i}) {
      display: block;
}
}
}

@include respond-to(large) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    display: block;
    width: 25%;

    &:last-child {
      margin-left: auto;
    }
  }
  .catalog--hot {
      display: none;
  }
}
