.main-header {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $white;
}

.main-header__wrapper {
  display: flex;
  min-height: $header-height;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.main-header__logo {
  @include link;

  width: 64px;
  height: 64px;
  background-color: $accent-color;
  position: absolute;
  z-index: 12;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

@include respond-to(large) {
  .main-header {
    position: relative;
    border-bottom: 1px solid #EFEFEF;
  }
  .main-header__wrapper {
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    min-height: 72px;
  }

  .main-header__logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
