.user-nav {
  @include list;
  margin-left: auto;
}

.user-nav__logo {
  @include link;
}

.user-nav__name {
  display: none;
}

@include respond-to(large) {
  .user-nav__name {
    @include font-style(15px, 18px, 400);

    display: inline-block;
  }
  .user-nav {
    margin-right: 3%;
  }

  .user-nav__logo svg{
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }

  .user-nav__logo {
    vertical-align: baseline;
  }
}
