$color-text: #333333;
$accent-color: #D62323;
$accent-color-dark: #B81111;
$white: #ffffff;
$bg-gray: #E8EAED;
$bg-gray-dark: #313131;
$center: 0 auto;
$header-height: 104px;
$breakpoints: (
  "small": 375px,
  "medium": 660px,
  "large": 980px
);

$container: (
 "xs": 92%,
 "ml": 80%,
 "xl": 73.53%
);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
